<mat-toolbar color="primary">
    <span class="title-center">Predracuni</span>
   </mat-toolbar>
   
   <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

   <div class="container">
    <mat-table [dataSource]="dataSource" class="mat-cell" matSort>
        
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
      </ng-container>
   
      <ng-container matColumnDef="naziv">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.naziv}}</mat-cell>
      </ng-container>
   

      <ng-container matColumnDef="placeno">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Placeno</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.placeno}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="racunotpremnicabroj">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Broj</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.racunotpremnicabroj}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="firma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Firma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.kupacBean.firma}}</mat-cell>
      </ng-container>

      

      <ng-container matColumnDef="akcije">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1)">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-icon-button color="primary" [routerLink]="['/predracunnew']"> NOVO
          </button>


        </mat-header-cell>
   
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" [routerLink]="['/pdf']" (click)="pdfIzgled(row.id)">
            <mat-icon aria-label="Pdf">picture_as_pdf</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
   
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: pointer" *matRowDef="let row; columns: displayedColumns;" (click)="selektujPredracun(row.id)"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

   </div>
 
  