.example-container {
    width: 100%;
    height: 100%;
}

.mat-sidenav{
    width:200px;
    background-color: rgb(38, 48, 53);
}

.mat-list{
    cursor: pointer; 
}

.mat-list :focus{
    border: none; 
    outline: none;
}

.mat-list-item{
    color: white;
}

.mat-list :hover{
    background-color: rgb(30, 30, 30);
}

.mat-icon{
    color:rgb(151, 151, 151);
}

.mat-sidenav-content{
    background-color: rgb(240, 240, 240);
}

.tekst{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-center {
    margin: 0 auto;
}

/*
.ikonica{
    visibility: hidden;
}

.mat-list:hover .ikonica{
    visibility: visible;
}*/