<router-outlet></router-outlet>
<mat-sidenav-container class="example-container">


    <mat-sidenav mode="over" opened [fixedInViewport]="true" mode="side" disableClose  >
      <mat-toolbar color="primary">    
        <span class="title-center">Joval Plast</span>
      </mat-toolbar>
  
      <mat-list>
  
        <mat-list-item  [routerLink]="['/pocetna']"> 
          <mat-icon>home</mat-icon> <span class = 'tekst'>Pocetna</span>
        </mat-list-item>
  
        <mat-list-item  [routerLink]="['/proizvodi']" > 
          <mat-icon>table_chart</mat-icon> <span class = 'tekst' >Svi artikli</span>
        </mat-list-item>
  
        <mat-list-item  [routerLink]="['/kupci']"> 
          <mat-icon>account_circle</mat-icon> <span class = 'tekst'>Kupci</span>
        </mat-list-item>
  
        <mat-list-item  [routerLink]="['/predracun']" (click)="predracun()"> 
          <mat-icon>assignment</mat-icon> <span class = 'tekst'>Predracun</span>
        </mat-list-item>
  
        <mat-list-item  [routerLink]="['/racun']" (click)="racun()"> 
          <mat-icon>assignment</mat-icon> <span class = 'tekst'>Racun</span>
        </mat-list-item>
  
  
  
      </mat-list>
  
  
    </mat-sidenav>
  
  
  
  
  
  
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  